body {
    background-color: #E6E6FA;
}
body,
html {
    margin: 0;
    height: 100%;
}
.container-home {
    height: 100%;
    background-color: transparent;
}
.container-body {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
}
.container-body-hidden {
    -webkit-animation-name: fadeOut;
    display: none;
}
a {
    color: #565656;
}
p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #565656;
    font-weight: lighter;
    text-align: left;
}

img {
    
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
#home {} 

#wrapper-home {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    display: block;
}
.wrapper-division-left {
    width: 30%;
    height: 100%;
    display: inline-block;
    position: absolute;
    float: left;
}
.wrapper-division-center {
    width: 30%;
    height: 100%;
    display: inline-block;
    position: absolute;
    float: left;
    margin-left: 35%;
}
.wrapper-division-right {
    width: 30%;
    height: 100%;
    display: inline-block;
    position: absolute;
    float: left;
    margin-left: 70%;
}
.menu-item {
    width: auto;
    height: auto;
    outline: none;
}
.menu-item > a {
    color: #F5F5F5;
    font-family: 'gotham1', 'Helvetica', 'arial', sans-serif;
    font-size: 50px;
    background-color: rgba(99, 42, 184, 0.5);
}
.menu-item > a:hover {
    text-decoration: none;
    background-color: rgba(99, 42, 184, 0.8);
    -o-transition: 2s;
    -ms-transition: .2;
    -moz-transition: .2;
    -webkit-transition: 2s;
}
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}
#item-left {
    float: right;
}
#item-right {
    float: left;
    margin-right: 20%;
}
#arrow {
    width: 50%;
    height: 80%;
    background-image: url("../images/arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}
#scroll {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 200px;
    font-family: 'gotham1', 'Helvetica', 'arial', sans-serif;
    font-size: 30px;
    color: #f5f5f5;
}
#logo-home {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 400px;
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
@font-face {
    font-family: 'gotham1';
    src: url('../fonts/gotham1.eot');
    src: local('☺︎'), url("../fonts/gotham1.woff") format("woff"), url("../fonts/gotham1.otf") format("opentype"), url("../fonts/gotham1.svg") format("svg");
}